<app-portal-header></app-portal-header>
<mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <div class="form-div">
            <mat-form-field  class="field-container">
                
            <input matInput placeholder="User Name" formControlName="username" required>
            <mat-error *ngIf="loginForm.get('username').invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="field-container" >
            <input matInput placeholder="Password" formControlName="password" type="password" required>
            <mat-error *ngIf="loginForm.get('password').invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-card-actions>
                    <button type="submit" mat-raised-button color="accent" [disabled]="!loginForm.valid">Login</button>
                    <button type="button" mat-raised-button color="accent" (click)="resetForm()" [disabled]="!loginForm.valid">Reset</button>
            </mat-card-actions>
        </div>
    </form>
    </mat-card-content>
</mat-card>
