/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/ngx-toastr/toastr.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-card, .mat-card-actions { text-align: -webkit-center; }    
.mat-tab-label { color: #ff4081; } 
mat-card { max-width: 80%; margin: 2em auto; text-align: center; } 
mat-toolbar-row { justify-content: space-between; }
mat-raised-button { outline: none !important }   
button:focus{outline: none; border:0;}
.toast-top-right {
    top: 5em;
    right: 12px;
}