<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
      
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/precautions1.png" alt="precautions" >
          </div>
          <div class="carousel-item">
            <img src="assets/precautions2.jpg" alt="precautions">
          </div>
          <div class="carousel-item">
            <img src="assets/precautions3.jpg" alt="precautions">
          </div>
        </div>
      
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      
      </div>
    
    </div>
    <div class="col-md-1"></div>
  </div>
  <hr>
  <div>
  </div>
</div>
<div>
  <h2 class="font-weight-bold">Some General Precautions</h2>

  <ul>
    <li>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</li>
    <li>Maintain a safe distance from anyone who is coughing or sneezing.</li>
    <li>Don’t touch your eyes, nose or mouth.</li>
    <li>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</li>
    <li>Stay home if you feel unwell.</li>
    <li>If you have a fever, a cough, and difficulty breathing, seek medical attention. Call in advance.</li>
    <li>Follow the directions of your local health authority.</li>
    
  </ul>

  <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">Click here for more details</a>
  <br>
  <br>
</div>
